.trainee-panel {
  background-color: #f7f7f7;
}

.trainee-panel .trainee-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.trainee-panel .trainee-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 11%;
    background-color: #eeeeee;
    height: 45px;
    width: 70px;
    font-size: 14px;
    margin: 10px;
}

.trainee-panel .trainee-add {
    width: 70px;
}

